@{
    Layout = "_LayoutPerfil";
}


<a asp-action="Editar" asp-controller="Perfil">editar perfil</a>
<br>
<a asp-action="Postar" asp-controller="Perfil">fazer uma postagem</a>
<br>
<a asp-action="Index" asp-controller="Home">Voltar</a>