@model List<PostModel>

@if (Model != null && Model.Any())
{
    @foreach (var post in Model)
    {
        <div class="card mt-3">
            <div class="card-body">
                <p>@post.Descricao</p>
                <p><small>@post.DataDePostagem.ToString("dd/MM/yyyy HH:mm")</small></p>
                <p>Likes: @post.Likes</p>
                <img src="/Perfil/Exibir/@post.Id" class="img-fluid" />
            </div>
        </div>
    }
}
else
{
    <p>Nenhum post encontrado.</p>
}