/* _content/blog/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-9seuzognnd] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-9seuzognnd] {
  color: #0077cc;
}

.btn-primary[b-9seuzognnd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-9seuzognnd], .nav-pills .show > .nav-link[b-9seuzognnd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-9seuzognnd] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9seuzognnd] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9seuzognnd] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9seuzognnd] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-9seuzognnd] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/blog/Views/Shared/_LayoutBloqueio.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-673lj311rk] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-673lj311rk] {
  color: #0077cc;
}

.btn-primary[b-673lj311rk] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-673lj311rk], .nav-pills .show > .nav-link[b-673lj311rk] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-673lj311rk] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-673lj311rk] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-673lj311rk] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-673lj311rk] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-673lj311rk] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/blog/Views/Shared/_LayoutCadrastro.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-rguhgwtoku] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-rguhgwtoku] {
  color: #0077cc;
}

.btn-primary[b-rguhgwtoku] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-rguhgwtoku], .nav-pills .show > .nav-link[b-rguhgwtoku] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-rguhgwtoku] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-rguhgwtoku] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-rguhgwtoku] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rguhgwtoku] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-rguhgwtoku] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/blog/Views/Shared/_LayoutLogin.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-l3f2s9lpef] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-l3f2s9lpef] {
  color: #0077cc;
}

.btn-primary[b-l3f2s9lpef] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-l3f2s9lpef], .nav-pills .show > .nav-link[b-l3f2s9lpef] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-l3f2s9lpef] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-l3f2s9lpef] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-l3f2s9lpef] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-l3f2s9lpef] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-l3f2s9lpef] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/blog/Views/Shared/_LayoutPerfil.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-jbjp2cd3bw] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-jbjp2cd3bw] {
  color: #0077cc;
}

.btn-primary[b-jbjp2cd3bw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-jbjp2cd3bw], .nav-pills .show > .nav-link[b-jbjp2cd3bw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-jbjp2cd3bw] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-jbjp2cd3bw] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-jbjp2cd3bw] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-jbjp2cd3bw] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-jbjp2cd3bw] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
