@model UsuarioModel


@{
    ViewData["Title"] = "Apagar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="text-center">
    <h1>
        Deseja Apagar esse usuario? (@Model.Nome)
    </h1>
</div>

<div class="d-grid gap-2">
    <a class="btn btn-primary" role="button" asp-route-id="@Model.Id" asp-controller="AdminPage" asp-action="Index">Voltar</a>
    <a class="btn btn-danger" role="button" asp-route-id="@Model.Id" asp-action="ApagarDoBanco" asp-controller="AdminPage">Apagar</a>
</div>